:root{
    --mainColor: hsl(225, 37%, 10%);
    
  }
  

  body {
    color: #fff;
    font-weight: 350;

  }

  .navigation {
    color: #eee;
  }

  .primary-navigation a {
    
    color: #eeee;
    
  
  }

  .fa-github,
  .logo {
    color: rgb(255, 255, 255);
  }
  

  .contact-button {
    
    color: rgba(255, 255, 255, 0.849);
  }

  .box {
    background: rgba(8, 7, 78, 0.685);
  }

  .box::after {
    background: rgb(2, 2, 2);
  }

  .content_2 a {
   
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  
  }
.cursor {


  background-color: rgb(255, 255, 255);
}

.q .p {
  padding: 3px;
  background: linear-gradient(180deg,hsl(0, 100%, 60%),hsl(60, 100%, 40%));
  cursor: pointer;
  color: white;
  border-radius: 25px;
}

.about-section-img {
  filter: brightness(.8) contrast(1.2);
}